.about-section {
  width: 70%;
  height: auto;
  color: black;
  display: flex;
  justify-content: space-around;
  margin: 150px auto;
  align-items: center;

  .about-me {
    padding-right: 200px;
    h4 {
      margin-bottom: 15px;
      font-size: 26px;
      color: #1a1a20;
      display: inline-block;
      &::after {
        content: "";
        display: block;
        width: 50%;
        height: 4px;
        background: rgb(23, 143, 255);
      }
    }
  }
  .about-img {
    height: 45vh;
    align-self: center;
    img {
      height: 100%;
    }
  }
}
