.contact {
  background: rgb(0, 153, 255);
  padding: 150px 0 100px 0;
  width: 100%;

  .contact-section {
    width: 60%;
    margin: 0 auto;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1.2fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    justify-content: center;
    background: #fff;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(73, 72, 72, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .send-massage {
      h4 {
        margin-bottom: 15px;
        font-size: 26px;
        color: #1a1a20;
        display: inline-block;
        &::after {
          content: "";
          display: block;
          width: 50%;
          height: 4px;
          background: rgb(23, 143, 255);
        }
      }
      form {
        display: flex;
        flex-direction: column;
        padding: 20px 0;

        input,
        textarea,
        button {
          align-self: flex-start;
          margin-bottom: 20px;
        }

        input,
        textarea {
          padding: 5px 10px;
          width: 80%;
          border: 1px solid lightgray;
          border-radius: 5px;
          font-size: 14px;
        }

        input {
          height: 30px;
        }
        textarea {
          height: 100px;
        }
        button {
          padding: 10px 20px;
          border: none;
          font-size: 16px;
          padding: 15px 40px;
          border-radius: 40px;
        }
      }
    }
    .get-touch {
      text-align: left;

      h4 {
        margin-bottom: 15px;
        font-size: 26px;
        color: #1a1a20;
        display: inline-block;
        &::after {
          content: "";
          display: block;
          width: 50%;
          height: 4px;
          background: rgb(23, 143, 255);
        }
      }
      p {
        padding: 20px 20px 20px 0;
      }
      .contact-icons {
        .fab {
          font-size: 30px;
          color: black;
          margin-right: 10px;
          border: 2px solid rgb(23, 143, 255);
          border-radius: 50%;
          padding: 10px;
          transition: 600ms background, color;
          &:hover {
            cursor: pointer;
            background: rgb(23, 143, 255);
            border: 2px solid rgb(214, 214, 214);
            color: #fff;
          }
        }
      }
    }
  }
  .copy-right {
    text-align: center;
    margin-top: 70px;
  }
}
