.header {
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  transition: 1s all;

  .lists {
    width: 25%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    .list {
      text-decoration: none;
      font-size: 20px;
    }
  }
  .icons {
    width: 60px;
    display: none;
    .icon {
      width: 90%;
      display: block;
      height: 5px;
      background: #fff;
      margin: 0 auto;
      margin-bottom: 5px;
      border-radius: 10px;
    }
  }
}

.scroll {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  color: rgb(23, 143, 255);
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
