.header-section {
  height: 100vh;
  background: rgb(22, 20, 20);
  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;

    h1 {
      font-size: 56px;
      margin-bottom: 20px;
    }
    h4 {
      font-size: 26px;
      margin-bottom: 20px;
    }
    .main-section-btn {
      padding: 15px 20px;
      font-size: 16px;
    }
  }
}
